{% extends "template.html" %}
{% block head %}
    <style>
        html,body {
            margin:0;
            padding:0;
            height:100%;
            width:100%;
        }
        img {
            max-height:100%;
            max-width:100%;
            display: block;
            margin: 0 auto;
            padding: 0;
        }
    </style>
{% endblock %}
{% block content %}
    <a href="/">
        <img src="https://morbotron.com/meme/S07E05/93218.jpg?b64lines=WW91IGEgYmlnIGR1bW15IQooNDA0IC0gQ2xpY2sgaW1hZ2UgdG8gcmVkaXJlY3Qp" />
    </a>
{% endblock %}
