<md-dialog aria-label="Add Idea" flex="75">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span>Add Item to "Idea" List</span>
                </h2>
                <span flex></span>
                <md-button class="md-warn md-raised" ng-click="cancel()">
                    Cancel
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-block">
            <div class="md-dialog-content md-block">
                <md-grid-list md-cols="1" md-gutter="5px" md-row-height="60px">
                    <md-grid-tile class="md-block" md-colspan="1">
                        <md-input-container style="width:90%">
                            <label>Item Name</label>
                            <input ng-model="item.name"/>
                        </md-input-container>
                    </md-grid-tile>

                    <md-grid-tile md-colspan="1">
                        <md-input-container style="width:90%">
                            <label>Item URL/Link</label>
                            <input ng-model="item.url">
                        </md-input-container>
                    </md-grid-tile>

                    <md-grid-tile md-colspan="1">
                        <md-input-container style="width:90%">
                            <label>Description</label>
                            <textarea ng-model="item.description"></textarea>
                        </md-input-container>
                    </md-grid-tile>
                </md-grid-list>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class='md-primary md-raised' ng-click="answer([item.name, item.url, item.description])">
                Add Idea
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
