<!DOCTYPE html>
<html ng-app="ChristmasList">
    <head>
        <title>Christmas List</title>
        <!-- Comment this out and everyone will get the "Desktop" view (which will work but isn't super pretty) -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Mobile browser coloring -->
        <meta name="theme-color" content="#af1616">
        <link data-require="bootstrap-css@3.2.0" data-semvar="3.2.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css" />
        <style>
            body {
                background-image: url("static/images/gplaypattern.png");
                word-wrap: break-word;
            }
            .container {
                width: 80%;
                margin: 0px auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
            }
            .center {
                margin: auto;
                width: 50%;
            }
            .green {
                background: green;
            }
            .red {
                background: red;
            }
            .backoff {
                margin: 10px;
            }
            img {
                max-height: 100%;
                max-width: 100%;
                display: block;
                margin: 0 auto;
                padding: 0;
            }
        </style>
        <!-- Favicon -->
        <link rel="icon" type="image.ico" href="static/images/favicon.ico">

        <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script data-require="angular@1.5.8" data-semver="1.5.8" src="https://code.angularjs.org/1.5.8/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <!-- Locally sourced JS files -->
        <script src="static/js/smart-table.js"></script>
        <script src="static/js/christmaslist.js"></script>
        <script src="static/js/ui-bootstrap.js"></script>
        <script src="static/js/ui-bootstrap-tpls.js"></script>
        <script src="static/js/md-data-table.js"></script>
        <script src="static/js/v-accordion.min.js"></script>
    </head>

    <body ng-controller="mainCtrl">
        <div class="">
            <!-- We're going to swap out the nav bar for a simple tool bar with a menu icon for a sidebar (design for mobile first) -->
            <!--
            <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            -->
                <!--<md-nav-item md-nav-href="test" name="Test HREF">Test HREF</md-nav-item>-->
                <!--<md-nav-item md-nav-click="goto('myList')" name="myList">My List</md-nav-item>-->
                <!--<md-nav-item md-nav-click="goto('familyMembers/page')" name="familyMembers/page">Family Members</md-nav-item>-->
            <!--
                <md-nav-item md-nav-sref="#myList" name="myList">My List</md-nav-item>
                <md-nav-item md-nav-sref="#familyMembers/page" name="familyMembers/page">Family Members</md-nav-item>
                <md-nav-item md-nav-sref="#test" name="test">Test page</md-nav-item>
            </md-nav-bar>
            -->

            {% from "menu.html" import menu %}
            {{ menu() }}

            {% from "sidenav.html" import sidenav %}
            {{ sidenav() }}
            <!-- We got rid of the nav-bar so we're ditching this -->
            <!-- 
            <div class="ext-content">
                {% raw %}
                <iframe width="100%" height="100%" src={{currentNavItem}} frameBorder="0"></iframe>
                {% endraw %}
            </div>
            -->

            <h1><center>All items are accessed from the menu on the left.  Have fun!</center></h1>

            <center> 
                <a href="/">
                    <img src="https://frinkiac.com/gif/S11E09/790760/797160.gif?b64lines=IFNPIEhBVkUgQSBNRVJSWQogQ0hSSVNUTUFTLCBIQVBQWQogSEFOVUtLQUgsIEtXQVpZIEtXQU5aQSBBCiBUSVAtVE9QIFRFVCBBTkQgQSBTT0xFTU4sCiBESUdOSUZJRUQgUkFNQURBTi4=" />
                </a>
            </center>
            {% from "fab.html" import fab %}
            {{ fab() }}
            <!--
            <div class="center">
                <table st-table="rowCollection" class="table table-striped">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                        </tr>
                    </thead> 
                    <tbody>
                        <tr ng-repeat="row in rowCollection">
                            {% raw %}
                            <td>{{row.firstName}}</td>
                            <td>{{row.lastName}}</td>
                            {% endraw %}
                        </tr>
                    </tbody>
                </table>
            </div>
            -->
            <!--<button type="button" class="btn btn-primary" ng-click="test()">Test Button Logging</button>-->
            <!-- Replacing this with an Angular Material style Dialog instead of a bootstrap Modal -->
            <!--<button type="button" class="btn btn-success" ng-click="addWish()">Add Wish</button>-->
            <!--
            <md-button class="md-primary md-raised" ng-click="addWish()">
                Add Wish
            </md-button>
            <br>
            <button type="button" class="btn btn-primary" ng-click="redirectLogin()">Log-In</button>
            <br>
            <button type="button" class="btn btn-danger" ng-click="redirectLogout()">Log-Out</button>
            -->
        </div>
    </body>
</html>
