{% extends "template.html" %}
{% block content %}
{% from "sidenav.html" import sidenav %}
{% from "menu.html" import menu %}
{{ sidenav() }}
{{ menu() }}
<md-content flex>
    <md-select placeholder="Filter by..." ng-model="user" md-on-open="loadUsers()">
        {% raw %}
        <md-option ng-value="">**Clear Selection**</md-option>
        <md-option ng-value="user" ng-repeat="user in users">{{ user.first_name }} {{ user.last_name }} ({{ user.wish_total }})</md-option>
        {% endraw %}
    </md-select>

    <!--<div ng-repeat="item in mylist | filter:{requester_id: '!'+currentUser.id }">-->
    {% raw %}
    <div ng-repeat="item in list | filter: { requester_id: user.id }">
    <md-card md-theme='dark-blue'>
        <md-card-header>
            <md-card-header-text>
                <md-title>
                    <i>{{ nameFromID(item.requester_id) }}</i> wants <b>{{ item.name }}</b>
                </md-title>
                <md-subhead>
                    ${{ item.cost }}
                </md-subhead>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            {{ item.description }}
            <hr>
            <md-card md-theme='offblue'>
                <md-card-content>
                    <a href="{{ item.link }}">{{ item.link }}</a>
                </md-card-content>
            </md-card>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class='md-raised' ng-click="showPlaceholder()">Claim</md-button>
        </md-card-actions>
    </md-card>
    {% endraw %}
</div>
</md-content>
{% endblock %}
