{% extends "template_nosession.html" %}
{% block head %}{% endblock %}
{% block content %}
<!-- <div class="jumbotron"> -->
    <div>
        <h1><center>
            <span class="label label-primary">
                Christmas List Time!
            </span>
        </center></h1>
        <hr>
        <p>
            Welcome to my brand new Christmast List application!  I've created this both as an exercise (for myself)
            and as a tool for us to use this holiday season (2016, in case anyone forgets).
        </p>
        <p>
            Hopefully things will be pretty self-explanatory (that's part of the learning on my part), 
            but if you need help there is a nice instruction page available once you log-in.
        </p>
        <md-content layout-padding>
            <form action="" name="login" method="post">
                {{ form.hidden_tag() }}
                <md-input-container class="md-block">
                    <label>E-mail Address</label>
                    <input md-maxlength="80" required md-no-asterisk name="email" ng-model="project.email">
                    <div ng-messages="testForm.description.$error">
                        <div ng-messages="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input type='password' md-maxlength="80" required md-no-asterisk name="password" ng-model="project.password">
                </md-input-container>
                <div>
                    <md-button class="md-primary md-raised" type="submit">Log-In</md-button>
                </div>
            </form>
        </md-content>
        <!--
        <form action = "" method="post" name="login">
            {{ form.hidden_tag()  }}
            <p>
                Email:<br>
                {{ form.email(size=80) }}<br>
                Password:<br>
                {{ form.password(size=80) }}<br>
            </p>
            <p>{{ form.remember }} Remember Me</p>
            <p><input type="submit" value="Sign In"></p>
        </form>
        -->
    </div>
{% endblock %}

