{% macro menu() %}
<md-toolbar md-theme='dark-blue'>
    <div class="md-toolbar-tools">
        <md-button class="md-primary md-raised" aria-label="Menu" ng-click="toggleMenu()">
            Menu
        </md-button>
        <span flex></span>
        <div layout="column" layout-align="end end">
            <span class="md-headline">Christmas List</span>
            {% raw %}
            <span class="md-subhead"><i>{{ currentUser.name }} (ID: {{currentUser.id}})</i></span>
            {% endraw %}
        </div>
    </div>
</md-toolbar>
{% endmacro %}
