{% extends "template.html" %}
{% block content %}
{% from "sidenav.html" import sidenav %}
{% from "menu.html" import menu %}
{{ sidenav() }}
{{ menu() }}
<md-content flex>

    <md-select placeholder="Filter by..." ng-model="filter_user" md-on-open="loadUsers()">
        {% raw %}
        <md-option ng-value="">**Clear Selection**</md-option>
        <md-option ng-value="user" ng-repeat="user in users">{{ user.first_name  }} {{ user.last_name  }} ({{ user.wish_total  }})</md-option>
        {% endraw %}
     </md-select>


    <div hide-gt-md ng-repeat="item in myideas |  purchase_user: filter_user.id:currentUser.id">
        {% raw %}
        <md-card md-theme='dark-blue'>
            <md-card-header>
                <md-card-header-text>
                    <md-title>
                        <b>{{ item.name }}</b> for <i>{{ nameFromID(item.forperson_id)  }}</i>
                    </md-title>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                {{ item.description }}
                <hr>
                <md-card md-theme='offblue'>
                    <md-card-content>
                        <a href="{{ item.link }}" target="_blank">{{ item.link }}</a>
                    </md-card-content>
                </md-card>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class='md-raised' ng-click="showPlaceholder()">Update</md-button>
                <md-button class='md-raised' ng-click="deleteIdea(item.id)">Remove</md-button>
            </md-card-actions>
        </md-card>
        {% endraw %}
    </div>
    <div hide-gt-md ng-repeat="item in list |  purchase_user: filter_user.id:currentUser.id">
        {% raw %}
        <md-card md-theme='dark-blue'>
            <md-card-header>
                <md-card-header-text>
                    <md-title>
                        <b>{{ item.name }}</b> for <i>{{ nameFromID(item.forperson_id)  }}</i>
                    </md-title>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                {{ item.description }}
                <hr>
                <md-card md-theme='offblue'>
                    <md-card-content>
                        <a href="{{ item.link }}">{{ item.link }}</a>
                    </md-card-content>
                </md-card>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class='md-raised' ng-click="showPlaceholder()">Update</md-button>
                <md-button class='md-raised' ng-click="deleteIdea(item.id)">Remove</md-button>
            </md-card-actions>
        </md-card>
        {% endraw %}
    </div>


    <div hide-sm hide-xs hide-md>
    {% raw %}
        <md-grid-list md-cols-xl="3" md-cols-lg="2" md-cols-md="2" md-cols="2" md-row-height="2:1" md-row-height-xs="3:4" md-gutter="12px">
            <md-grid-tile md-colspan="1" md-rowspan="1" ng-repeat="item in myideas | purchase_user: filter_user.id:currentUser.id">
                <md-card md-theme="dark-blue" layout-fill>
                    <md-card-header>
                        <md-card-header-text>
                            <md-title>
                                <b>{{ item.name }}</b> for <i>{{ nameFromID(item.forperson_id) }}</i>
                            </md-title>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        {{ item.description }}
                        <hr>
                        <md-card md-theme="offblue">
                            <md-card-content>
                                <a href="{{ item.link }}">{{ item.link }}</a>
                            </md-card-content>
                        </md-card>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-raised" ng-click="showPlaceholder()">Update</md-button>
                        <md-button class="md-raised" ng-click="deleteIdea(item.id)">Remove</md-button>
                    </md-card-actions>
                </md-card>
            </md-grid-tile>
            <md-grid-tile md-colspan="1" md-rowspan="1" ng-repeat="item in list | purchase_user: filter_user.id:currentUser.id">
                <md-card md-theme="dark-blue" layout-fill>
                    <md-card-header>
                        <md-card-header-text>
                            <md-title>
                                <b>{{ item.name }}</b> for <i>{{ nameFromID(item.forperson_id) }}</i>
                            </md-title>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        {{ item.description }}
                        <hr>
                        <md-card md-theme="offblue">
                            <md-card-content>
                                <a href="{{ item.link }}" target="_blank">{{ item.link }}</a>
                            </md-card-content>
                        </md-card>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-raised" ng-click="showPlaceholder()">Update</md-button>
                        <md-button class="md-raised" ng-click="deleteIdea(item.id)">Remove</md-button>
                    </md-card-actions>
                </md-card>
            </md-grid-tile>
        </md-grid-list>
    {% endraw %}
    </div>
</md-content>
{% endblock %}
