{% extends "template.html" %}
{% block content %}
{% from "sidenav.html" import sidenav %}
{% from "menu.html" import menu %}
{{ sidenav() }}
{{ menu() }}
<md-content flex>

<div ng-repeat="item in mypurchases">
    {% raw %}
    <md-card md-theme='dark-blue'>
        <md-card-header>
            <md-card-header-text>
                <md-title>
                    <h2>{{ item.name }}</h2>
                </md-title>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            {{ item.description }}
            {{ item.requester }}
            {{ item.granter }}
            <hr>
            <a href="{{ item.link }}" target="_blank">{{ item.link }}</a>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class='md-raised'>Update</md-button>
            <md-button class='md-raised'>Remove</md-button>
        </md-card-actions>
    </md-card>
    {% endraw %}
</div>

<md-card>
    <md-card-content>
        <v-accordion class="vAccordion--default">
            <v-pane ng-repeat="user in userID_CACHE" expanded="pane.isExpanded">
                <v-pane-header>
                    {% raw %}
                    <b>{{ user.first_name }} {{ user.last_name }}</b> - Claims: {{ numClaims(user.id) }} / Ideas: {{ numIdeas(user.id) }} / Purchases: {{ numPurchases(user.id) }}
                    {% endraw %}
                </v-pane-header>
                <v-pane-content>
                    {% raw %}
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom style="background: white;">

                            <md-tab label="claims">
                                <md-card>
                                    <md-card-content>
                                        <div ng-repeat="claim in list | filter:{requester_id: user.id}">
                                            <div ng-if="claim.granter_id == currentUser.id">
                                                {{ claim.name }}: ${{ claim.cost }}
                                                <md-divider></md-divider>
                                            </div>
                                        </div>
                                    </md-card-content>
                                </md-card>
                            </md-tab>

                            <md-tab label="ideas">
                                <md-card>
                                    <md-card-content>
                                        <div ng-repeat="idea in myideas | filter:{forperson_id: user.id}">
                                            <div ng-if="idea.forperson_id == user.id">
                                                {{ idea.name }}: ${{ idea.cost }}
                                                <md-divider></md-divider>
                                            </div>
                                    </md-card-content>
                                    </div>
                            </md-tab>

                            <md-tab label="purchases">
                                <md-card>
                                    <md-card-content>
                                        <div ng-repeat="idea in myideas | purchase_user: user.id:currentUser.id">
                                            {{ idea.name }}: ${{ idea.cost }}
                                            <md-divider></md-divider>
                                        </div>
                                        <div ng-repeat="wish in list | purchase_user: user.id:currentUser.id">
                                            {{ wish.name }}: ${{ wish.cost }}
                                            <md-divider></md-divider>
                                        </div>
                                    </md-card-content>
                                </md-card>
                            </md-tab>

                        </md-tabs>
                    </md-content>
                    {% endraw %}
                </v-pane-content>
            </v-pane>
        </v-accordion>
    </md-card-content>
</md-card>

</md-content>
{% endblock %}
