{% extends "template.html" %}
{% block content %}
{% from "sidenav.html" import sidenav %}
{% from "menu.html" import menu %}
{{ sidenav() }}
{{ menu() }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/md-data-table/1.8.0/md-data-table-templates.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/md-data-table/1.8.0/md-data-table.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.0/angular-material-icons.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/md-data-table/1.8.0/md-data-table-style.css"/>

<md-content flex>

    <md-table-container>
        <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order">
                <tr md-row>
                    <th md-column><span>Name</span></th>
                    <th md-column><span>E-Mail</span></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-select="user" md-select-id="id" md-auto-select ng-repeat="user in userID_CACHE">
                    {% raw %}
                    <td md-cell>{{ user.first_name }} {{ user.last_name }}</td>
                    <td md-cell>{{ user.email }}</td>
                    {% endraw %}
                </tr>
            </tbody>
        </table>
    </md-table-container>

</md-content>
{% endblock %}
