{% macro sidenav() %}
<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="menu">
    <md-content flex ng-controller="Menu" layout-padding class="_md flex">
        <!--
        <md-grid-list md-cols="1" md-gutter="5px" md-row-height="60px">
            <md-grid-tile class="md-block">
                <md-button class="md-raised" ng-click="goHome()">
        -->
                    <!-- Keeping this in here in case I revisit it -->
                    <!-- The idea was to have a tooltip auto-open to the right.  If the menu was open the tooltip was active -->
                    <!-- This would get rid of some "hover" issues with mobile, but it wasn't working and I abandoned it -->
                    <!--<md-tooltip md-direction="right" md-visible='checkSidenav()'>Click here to return to the home page.</md-tooltip>-->
        <!--
                    Home
                </md-button>
            </md-grid-tile>
            <md-grid-tile class="md-block">
                <md-button class="md-primary md-raised" ng-click="addWish()">
                    Add Wish
                </md-button>
            </md-grid-tile>
            <md-grid-tile class="md-block">
                <md-button class='md-primary md-raised' ng-click="closeMenu()">Close</md-button>
            </md-grid-tile>
            <md-grid-tile class="md-block">
                <md-button class='md-primary md-raised' ng-click="accessMyList()">My List</md-button>
            </md-grid-tile>
            <md-grid-tile class="md-block">
                <md-button class="md-warn md-raised" ng-click="redirectLogout()">Log-Out</md-button>
            </md-grid-tile>
            </md-list>
        </md-grid-list>
        -->
        <!-- I don't like the buttons so I'll figure out this element thing later, functionality for now -->
        <!--
        <ul class="docs-menu">
            <li>
                <a class='md-button md-ink-ripple' ng-transclude href="index">Test</a>
            </li>
        </ul>
        -->
        <md-list layout="column" layout-alignt="center center">
            <!-- Navigation Items -->
            <md-button class="md-block md-raised" ng-click="goHome()">Home</md-button>
            <div style="text-align:center; font-style:italic;">Go back to the main menu</div>

            <md-button class="md-block md-raised md-primary" ng-click="goList()">The List</md-button>
            <div style="text-align:center; font-style:italic;">View the family list!</div>

            <!-- Personal items, for logged in user only views -->
            <!--
            <md-divider class="backoff"></md-divider>
            <md-button class="md-raised" ng-click="accessMyTracking()">Track Spending</md-button>
            <div style="text-align:center; font-style:italic;">Track your purchases and spending across the family</div>
            -->

            <md-divider class="backoff"></md-divider>
            <md-button class="md-raised" ng-click="accessMyList()">My List</md-button>
            <div style="text-align:center; font-style:italic;">Check on all of the items you've added to your personal list</div>

            <md-button class="md-raised" ng-click="accessMyClaims()">My Claims</md-button>
            <div style="text-align:center; font-style:italic;">Check on all of the items you've claimed for other people</div>

            <md-button class="md-raised" ng-click="accessMyIdeas()">My Ideas</md-button>
            <div style="text-align:center; font-style:italic;">Keep track of all those great ideas you've had</div>

            <md-button class="md-raised" ng-click="accessMyPurchases()">My Purchases</md-button>
            <div style="text-align:center; font-style:italic;">Double check you've bought what you said you were doing to</div>

            <md-button class="md-raised" ng-click="accessMyTracking()">My Tracking</md-button>
            <div style="text-align:center; font-style:italic;">A fancy drop-down list where you can track everything at once</div>

            <!-- Addition Items -->
            <md-divider class="backoff"></md-divider>
            <md-button class='md-raised md-primary' ng-click="addWish()">Add Wish</md-button>
            <div style="text-align:center; font-style:italic;">Want something for Christmas?  Let everyone know!</div>

            <!-- Scrapping this idea for now.  The first design decision will be to only have ideas have a "purchased" flag -->
            <!--
            <md-button class='md-raised md-primary' ng-click="addPurchase()">Add Purchase</md-button>
            <div style="text-align:center; font-style:italic;">Bought something for someone?  Make sure you keep track of it all!</div>
            -->

            <md-button class='md-raised md-primary' ng-click="addIdea()">Add Idea</md-button>
            <div style="text-align:center; font-style:italic;">Have an idea for a gift but haven't bought it yet?  Add it here!</div>

            <!-- System functionality items -->
            <md-divider class="backoff"></md-divider>
            <md-button class="md-warn md-raised" ng-click="closeMenu()">Close</md-button>
            <div style="text-align:center; font-style:italic;">Close the navigation bar</div>

            <md-button class="md-warn md-raised" ng-click="redirectLogout()">Logout</md-button>
            <div style="text-align:center; font-style:italic;">Logout (we'll miss you...)</div>
        </md-list>
    </md-content>
</md-sidenav>
{% endmacro %}
