<!DOCTYPE html>
<html ng-app="ChristmasList">
    <head>
        <title>Christmas List</title>
        <style>
            body {
                background-image: url("static/images/gplaypattern.png");
            }
            .container {
                width: 80%;
                margin: 0px auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
            }
        </style>

        <!-- Favicon -->
        <link rel="icon" type="image.ico" href="static/images/favicon.ico">

        <link data-require="bootstrap-css@3.2.0" data-semvar="3.2.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css" />
        <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script data-require="angular@1.5.8" data-semvar="1.5.8" src="https://code.angularjs.org/1.5.8/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <!-- Locally sourced JS files -->
        <script src="static/js/christmaslist.js"></script>
        <script src="static/js/smart-table.js"></script>
        <script src="static/js/ui-bootstrap.js"></script>
        <script src="static/js/ui-bootstrap-tpls.js"></script>

        {% block head %}{% endblock %}
    </head>

    <body ng-controller="mainCtrl">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
